.gridSection {
  max-width: 73%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-column-gap: 2rem;
  margin: 0 auto;
  margin-top: 8rem;
  grid-row-gap: 1rem;
}
.grid-Img {
  width: 100%;
}
.gridText {
  width: 19rem;
  bottom: 10.5rem;
  font-size: 3.5rem;
  position: relative;
  left: 6rem;
  color: #fff;
  font-family: "josefin sans", sans-serif;
  font-weight: 300;
}
.four {
  width: 9rem;
}
