.vrContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.vrSection {
  display: flex;
  margin: auto;
  margin-top: 13rem;
}
.creationsButtons {
  min-width: 67%;
  // padding: 0rem 15rem 0rem 15rem;
  display: flex;
  justify-content: space-between;
  margin-right: 13rem;
}

// .vrPictureContainer {
//   padding-left: 2rem;
// }
.vrContentContainer {
  display: flex;
}
.vrImg {
  padding-left: 2rem;
}
.vrText {
  width: 70rem;
  margin-top: auto;
  padding: 11rem 0rem 0rem 15rem;
  position: relative;
  right: 15rem;
  background-color: #fff;
}
.vrHeader {
  font-size: 5.8rem;
  font-family: "josefin sans";
  margin-bottom: 3rem;
}
.vrParagraph {
  font-size: 2rem;
  font-family: "josefin sans", sans-serif;
}
.creationsButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
  max-width: 80%;
}
.creationsButtons h3 {
  font-size: 3rem;
  font-family: "josefin sans";
}
.creationsButtons button {
  font-size: 2rem;
  font-family: "josefin sans";
  padding: 1.5rem 3rem;
  border: 1px solid black;
  background-color: #fff;
}
@media (max-width: 1287px) {
  .vrImg {
    padding-left: 0;
    margin: auto;
  }
  .vrContentContainer {
    flex-direction: column;
    margin-top: 10rem;
  }

  .vrImg {
    max-width: 90vw;
  }
  .vrText {
    right: 0rem;
    padding: 0rem;
    margin-top: 10rem;
    max-width: 90vw;
  }
  .vrHeader {
    text-align: center;
  }
  .vrParagraph {
    text-align: center;
    line-height: 2.7rem;
  }
}
@media (max-width: 525px) {
  .vrHeader {
    font-size: 4rem;
    margin-bottom: 1.8rem;
  }
  .vrText {
    margin-top: 4rem;
  }
  .vrSection {
    margin-top: 5rem;
  }
  .vrParagraph {
    font-size: 1.7rem;
  }
}
@media (max-width: 360px) {
  .vrHeader {
    font-size: 3rem;
  }
}
