@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  text-decoration: none;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
@import "./heroSection";
@import "./mobileMenu";
@import "./vrSection";
@import "./gridSection";
